
.header_search_i {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color:#F8F8F8;
  padding: 4px 0 4px 0;
  position: relative;
}

.header_search_items {
    padding: 15px;
    margin: 0px 5px 0px 5px;
    width: 20%;
    cursor: pointer;
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid #ccc;
}

.header_search_items:hover{
    background-color: #ccc;
}

.header_search_content {
    text-align: start;
}

.header_search_input{
    text-align: start;
}

.header_search_items .header_search_input .header_search_input_1 {
    border: none;
    outline: none;
    padding: 0;
    color: #6A6A6A;
    background: transparent;
}



.header_search_content_1 {
    text-align: start;
  color: #6A6A6A;
}

.header_search_icon {
    position: relative;
    display: flex;
    align-items: center;
}

.item_1 {
    width: 70%;
}


.item_2 {
    padding: 10px 0px 10px 0px;
    background-color: #DD1062;
    width: 36px;
    border-radius: 20px;
}

.icon{
    color: #fff;
}

.Search_down {
    position: absolute;
    top: 80px;
    left: 19%;
    width: 400px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 2;
    max-height: 400px;
    overflow-y: scroll;
}



.Search_down_h {
    margin: 0;
    padding: 5px;
    text-align: start;
    font-weight: 100;
    font-size: 0.9rem;
}

.Search_down_items {
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.Search_down_items:hover{
    background-color: #f5f5f5;
    border-radius: 10px;
}
.img {
    width: 50px;
    height: 50px;
}

.Search_down_content {
    text-align: start;
    margin-left: 10px;

}

.Search_down_content_1 {
    font-size: 1rem;
    color: #222222;
    padding: 3px 0 3px 0;
    margin: 0;
    align-items: start;
}
.Search_down_content_2 {
    font-size: 0.8rem;
    color: #6A6A6A;
    padding: 3px 0 3px 0;
    margin: 0;
    align-items: start;
}


