
.header_search_i {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color:#F8F8F8;
  padding: 4px 0 4px 0;
}

.header_search_items {
    padding: 15px;
    margin: 0px 5px 0px 5px;
    width: 15%;
    cursor: pointer;
    background-color: #fff;
    border-radius: 40px;
    border: 2px solid #ccc;
}

.header_search_items:hover{
    background-color: #ccc;
}

.header_search_content {
    text-align: start;
}

.header_search_input{
    text-align: start;
}

.header_search_items .header_search_input .header_search_input_1 {
    border: none;
    outline: none;
    padding: 0;
    color: #6A6A6A;
    background: transparent;
}



.header_search_content_1 {
    text-align: start;
  color: #6A6A6A;
}

.header_search_icon {
    position: relative;
    display: flex;
    align-items: center;
}

.item_1 {
    width: 70%;
}


.item_2 {
    padding: 10px 0px 10px 0px;
    background-color: #DD1062;
    width: 36px;
    border-radius: 20px;
}

.icon{
    color: #fff;
}

